{{ mesasge }}
This line won't be changed

######################################

for-loop example

{% for key,value in users.iteritems() %}
{{ key }} 's name : {{ value.name }} 
{{ key }} 's telephone : {{ value.telephone }}
--------------------------
{% endfor %}